body {
    background-color: #F0EFEC;
}

img {
  width: 100%;
}

.faces {
    
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;

}

.header {
  display: grid;
  grid-template-columns: 160px 160px;
  justify-content: center;
}

.wrap {
  width: 900px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}


.round-image {
  border-radius: 100%;
  padding: 10px; 
  background-color: white; 
}

.face {
  border: white solid 2px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

